<div class="scr scr-3">
  <div class="nav">
    <a href="#/screen-1" class="btn">1</a>
    <a href="#/screen-2" class="btn">2</a>
    <a href="#/screen-3" class="btn active">3</a>
    <a href="#/screen-4" class="btn" ng-class="!data.netWorks[0] ? 'disabled' : 'able'">4</a>
  </div>
  <div class="title">3.Отметьте социальные сети</div>
  <div class="content">
    <ul>
      <li ng-repeat="socialNetwork in data.netWorks">
        <label><input type="checkbox" ng-model="socialNetwork.status">{{socialNetwork.name}}</label>
        <input type="text" ng-disabled="!socialNetwork.status" placeholder="Ваша страница в {{socialNetwork.name}}" ng-model="socialNetwork.url">
      </li>
    </ul>
  </div>
  <div class="warning"><p>Необязательный шаг</p></div>
  <div class="btn-arrow">
    <a href="#/screen-2">< Предыдущий</a>
    <a href="#/screen-4" ng-class="!data.netWorks[0] ? 'disabled' : 'able'">Следующий ></a>
  </div>
</div>